* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
.container-fluid {
	position: relative;
	min-height: 100%;
	padding-bottom: 90px;
}
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
}


