.reset-filters-parent{
    display:flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: end;
    
}
.reset-filters{
    margin: 25px 0;
}
.filters-background {
    
    background:linear-gradient(200deg,#d2e8ec,#7ed6e4); /* Цвета градиента */
    background-size:500% 500%;
    -webkit-animation:ServiceAnimation 10s ease infinite;
    -moz-animation:ServiceAnimation 10s ease infinite;
    -o-animation:ServiceAnimation 10s ease infinite;
    animation:ServiceAnimation 10s ease infinite; /* Время смены цвета */
  }
  @-webkit-keyframes ServiceAnimation{0%
    {background-position:90% 0}50%
    {background-position:10% 100%}100%
    {background-position:90% 0}
  }
  @-moz-keyframes ServiceAnimation{0%
    {background-position:90% 0}50%
    {background-position:10% 100%}100%
    {background-position:90% 0}
  }
  @-o-keyframes ServiceAnimation{0%
    {background-position:90% 0}50%
    {background-position:10% 100%}100%
    {background-position:90% 0}
  }
  @keyframes ServiceAnimation{0%
    {background-position:90% 0}50%
    {background-position:10% 100%}100%
    {background-position:90% 0}
  }
